@model IEnumerable<MovieBlog.Models.MyBlog>

@{
    ViewData["Title"] = "Index";
}

<h2>My Blog</h2>

<p>
    <a asp-action="Create">Create new content</a>
</p>
<p>
    @if (ViewBag.ShowAll)
    {
        <a asp-action="Index" asp-route-showall="false">Show only unpublished contents</a>
    }
    else
    {
        <a asp-action="Index" asp-route-showall="true">Show the all contents</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Heading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Heading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @if (item.IsPublished)
                {
                    <a asp-action="Published" asp-route-id="@item.Id" asp-route-showAll="@ViewBag.ShowAll">Unpublished</a>
                }
                else
                {
                    <a asp-action="Unpublished" asp-route-id="@item.Id" asp-route-showAll="@ViewBag.ShowAll">Published</a>

                }
                |<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
